* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
}

.nav-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(to right, #5c281a, #5e373b, #575c6a, #5791a6, #2a3039 );
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    align-content: center;
}

.nav ul li  {
    font-size: 27px;
    padding: 0 30px;
}

.nav ul li.username  {
    font-size: 25px;
    padding: 0 30px;
    background-color: white;
    border-radius: 20px;
}

.nav ul li.username a {
    color: black;
}

.nav ul li.login-logout  {
    font-size: 25px;
}

.nav ul li.regist  {
    font-size: 25px;
    background-color: white;
    border-radius: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li.regist a {
    text-decoration: none;
    color: #422720;
}

.nav ul li a i.fa-solid {
    color: white;
    font-size: 27px;
    margin: 5px;
}

.picture {
    height: 65vh;
    background-image: url('../img/header22.jpg');
    filter: brightness(150%) contrast(130%);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.index-content {
    width: 100%;
    height: 570px;
    background-color: #e8b393
}

/* jelentkezés */

.form-jelentkezes {
    margin: 30px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    max-height: 75%;
    
}

.form-jelentkezes form {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: center;
    justify-content: center;
    justify-self: center;
    padding: 5vh;
    background-color: rgb(33 38 46);
    border-radius: 15px 0 0 40px;
}

.form-jelentkezes form label {
    font-size: 25px;
    width: 80%;
    color: white;
    font-weight: bold;
    padding: 6px 0;
}

.form-jelentkezes form input {
    height: 10vh;
    font-size: 20px;
    background-color: #f0ffc4;
    padding: 5px;
    margin: 5px;
    border: 2px solid white;

}

.form-jelentkezes form select {
    height: 10vh;
    font-size: 20px;
    background-color: #f0ffc4;
    padding: 5px;
    margin: 5px;

}

.form-jelentkezes form input#submit {
    max-width: 60%;
    margin: 0 auto;
    font-size: 25px;
    color: rgb(229, 212, 186);
    border: 2px solid rgb(151, 98, 0);
    background-color: rgb(153, 56, 20);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.form-jelentkezes form div.error {
    color: red;
}

div.form-image {
    background-image: url('../img/formApply.jpg');
    background-position: center;
    background-size: cover;
    width: 40%;
    border-radius: 0 50px 15px 0;
}

/*form regisztráció */

.form-regist {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-regist div.message {
    margin: 0 auto;
    background-color: rgb(181, 99, 99);
    font-size: 20px;
    padding: 15px;
}

.form-regist form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    row-gap: 15px;
}

.form-regist form .error {
    color: red;
}
.form-regist form h1{
   text-align: center;
}
.form-regist form input {
    height: 30px;
    padding: 0 10px;
}

.form-regist form button {
    padding: 10px;
    background-color: #26373d;
    color: white;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-regist form button:hover {
    background-color: #0c1b20;
    color: rgb(183, 180, 180);
    font-size: 20px;
    cursor: pointer;
}

.form-regist form input:hover {
    border-color:rgb(74, 25, 25);
    background-color: #dbc1b1;
    font-weight: bold;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 60vh;
}

.form-login form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    row-gap: 15px;
}

.form-login form h1{
   text-align: center;
}
.form-login form input {
    height: 30px;
    padding: 0 10px;
}

.form-login form button {
    padding: 10px;
    background-color: #26373d;
    color: white;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-login form button:hover {
    background-color: #0c1b20;
    color: rgb(183, 180, 180);
    font-size: 20px;
    cursor: pointer;

}

.form-login form input:hover {
    border-color:rgb(74, 25, 25);
    background-color: #dbc1b1;
    font-weight: bold;
}

/* form - új túra hozzáadás*/

.div-newTour {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form.newTour {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form.newTour label {
    font-size: 23px;
    color:white;
    background-color: #2b677a;
    margin: 10px 0;
    padding: 5px;
    font-weight: bold;
}

form.newTour input {
    font-size: 16px;
    background-color: #e9e9e9;
    padding: 5px;
    border: 2px solid rgb(53, 14, 14);
}

form.newTour .label {
    font-size: 20px;
    background-color: #e9e9e9;
    color: black;
    margin: 0;
}

form.newTour select {
    font-size: 16px;
    background-color: #e9e9e9;
    padding: 5px;
}

form.newTour textarea {
    font-size: 16px;
    background-color: #e9e9e9;
    padding: 5px;
    height: 130px;
}

form.newTour input[type=submit] {
    font-size: 25px;
    background-color: #2e0b0b;
    color: rgb(170, 130, 130);
    font-weight: bold;
    padding: 5px;
    margin: 10px 0;
    cursor: pointer;
    
}

/* túra törlése */

.delete {
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.delete form {
    font-size: 20px;
}

.delete form a{
    text-decoration: none;
    text-align: center;
    background-color:#26373d;
    font-size: 25px;
    margin: 10px 0;
    color: white;

}

.delete form button{
    background-color:#2e0b0b;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 0;
    color: white;
}


/* túrák */

.tours {
    width: 100%;
    height: 15vh;
    padding: 10px;
}

.toursH1 {
    text-align: left;
    font-size: 50px;
    color:#5d302b;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: grey;
    background-image: url('../img/box2.jpg');
    z-index: -100;
    width: 100%;
    background-position: center;
    background-size: cover;
}

section.tura {
    background-color: #7e570c;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

section.tura:hover {
    filter: drop-shadow(8px 8px 10px gray) sepia(100%) contrast(160%);
}

a.bigLink {
    text-decoration: none;
}

section.tura a.smallLink {
    margin: 20px 0 0 0;
    text-decoration: none;
    background-color:#0c1b20;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
}

section.tura .img img{
    width: 100%;
    border-radius: 20px;
}

section.tura h1 {
    font-size: 30px;
    margin: 12px 0;
    color: black;
}

section.tura p {
    font-size: 19px;
    color: black;
    background-color: #d7c8bf;
    border-radius: 20px;
    padding: 10px;
}
div.link-jelentkezes {
    margin: 30px 0;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(to right, rgb(64, 16, 16), rgb(3, 82, 99), rgb(132, 125, 0) )  ;
}
div.link-jelentkezes a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

/* túra info */

.container-turainfo {
    margin: 0 auto;
    width: 60%;
}

.img-turainfo img {
    width: 70%;
    margin: 25px 0;
    border-radius: 30px;
}

.container-turainfo h1 {
    text-align: center;
    font-size: 40px;
}

.container-turainfo .cimke {
    display: flex;
    margin: 10px;
}

.container-turainfo .cimke div {
    margin: 10px;
    border: 3px solid brown;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}

.cont .tourData h3 {
    font-size: 30px;
    margin: 0 0 10px 0;

}

.cont .tourData p {
    font-size: 20px;
    line-height: 25px;

}

.cont article {
    font-size: 20px;
    line-height: 25px;
    margin: 40px 0;
}

.cont article h4 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

/* admin crud */

table.crud-table {
    width: 70%;
    margin: 40px auto;
}

table.crud-table tr th {
    border: 1px solid black;
    font-size: 40px;
    padding: 6px;
    background-color: #422720;
    color: white;
}

table.crud-table tr td {
    border: 1px solid black;
    margin: 10px 0;
}

table.crud-table td.option a.edit-row{
    text-decoration: none;
    color: rgb(6, 14, 56);
    background-color: #d7bcac;
    font-size: 20px;
}

table.crud-table td.option a.delete-row{
    text-decoration: none;
    color: red;
    background-color: #d7bcac;
    font-size: 20px;
}

/* footer */

footer {
    background-color:#26373d  ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30vh;
}

.footer-info {
    display: flex;
    flex-direction: column;
    background-color: #d7bcac;
    font-size: 20px;
    padding: 5px;
}

footer .admin-login a {
    text-decoration: none;
    color: rgb(146, 90, 90);
    font-size: 20px;
    font-weight: bold;
    background-color: #d7bcac;
    padding: 6px;
    margin: 10px;
    border-radius: 15px;
}



